// Colors
$clr1: #FFFFFF;
$clr2: #F67E7E;
$clr3: #014E56;
$clr4: #004047;
$clr5: #2C6269;
$clr6: #79C8C7;
$clr7: #002529;
$clr8: #012F34;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;